<div id="new-account-operation">
  <div id="new-account-operation-layout">
    <div class="header">
      <div class="row margin-row-0">
        <div>
          <h2 class="title">Add New Operation</h2>
        </div>
      </div>
    </div>

    <form [formGroup]="this.operationService.operationForm" >
    <div class="body">
      <input type="hidden" formControlName="$key">
      <div class="form-group">
        <label for="">Name : </label>
        <input class="form-control" size="10" formControlName="Name" [ngClass]="{'is-invalid':submitted && formControls.Name.errors}">
        <div class="invalid-feeback text-danger" *ngIf="submitted && formControls.Name.errors">
          This field is required.
        </div>
      </div>
      <div class="form-group">
        <label for="">Value : </label>
          <input class="form-control" size="10" formControlName="Value" [ngClass]="{'is-invalid':submitted && formControls.Value.errors}">
          <div class="invalid-feeback text-danger" *ngIf="submitted && formControls.Value.errors">
            This field is required.
          </div>
      </div>
      <div class="row margin-row-0" style="margin: auto 0 1rem 0;">
        <div class="form-group">
          <label for="">Category : </label> &nbsp;
          <select id="selectCategoryID" class="form-group" formControlName="Category" [ngClass]="{'is-invalid':submitted && formControls.Category.errors}" (click)="newCategoryVisibility()">
            <option value="">Please select</option>
          </select>
          <div class="invalid-feeback text-danger" *ngIf="submitted && formControls.Category.errors">
            This field is required.
          </div>
        </div>
        <input id="newCategoryID" class="form-control" size="5" [ngClass]="{'is-invalid':submitted}" placeholder="New Category...">
      </div>
      <div class="form-group">
        <label for="">Transaction Type : </label> &nbsp;
        <select class="form-group" formControlName="Type" [ngClass]="{'is-invalid':submitted && formControls.Type.errors}">
          <option value="">Please select</option>
          <option value="income">Income</option>
          <option value="expenses">Expenses</option>
        </select>
        <div class="invalid-feeback text-danger" *ngIf="submitted && formControls.Type.errors">
          This field is required.
        </div>
      </div>
    </div>

    <hr>

    <div class="footer">
      <div class="row margin-row-0">
        <div class="btn">
          <button (click)="addNewOperationSubmit();" type="submit" class="btn btn-primary mr-3"><i class="far fa-save"></i></button>
          <button (click)="cancelNewOperationSubmit();" type="submit" class="btn btn-primary">Cancel</button>
        </div>
      </div>
    </div>

    </form>
  </div>
</div>
