
.margin-row-0{
    margin: 0;
}

div#row{
    display: fixed;
    /* height: 91.5vh;*/
    height: 100%;
    height: 91.5vh;
    background-color: transparent;
}

aside{
    width: 15%;
    background-color: #239fdb;
    position: relative;
}

aside#side-bar li:hover{
    background-color: honeydew;
    border-radius: 20px;
    padding: 0 5px;
}

footer{
    background-color: black;
    color: gainsboro;
    width: 100%;
    padding-left: 20px;
    padding-top: 10px;
    position: absolute;
    bottom: 0;
}

div#content{
    width: 85%;
}

/* Main popup */
#main-popup{
    display: none;
    color: #fff;
    z-index: 200;
    position: absolute;
    right: 30%;
    top: 5%;
}

/* About popup */
#about-popup{
    display: none;
    height: auto;
    width: 500px;
    padding: 20px;
    background-color: gray;
    border-radius: 5px;
}

#about-popup h2{
    text-align: center;
    color: #000;
    font-weight: bold;
}

#about-popup button{
    padding: 10px;
    margin-left: auto;
    color: #000;
    background-color: transparent;
    border-color: transparent;
}

#about-popup button:hover{
    color: white;
    background-color: #000;
    border-radius: 5px;
}

/* Responsive */
@media only screen and (max-width: 768px) {
    aside {
      width: 100%;
      height: 200px;
    }

    div#content{
        width: 100%;
    }
  }
