<header>
  <app-header></app-header>
</header>

<main id="main">

  <!-- Main popup area -->
  <div id="main-popup">
    <!-- about popup -->
    <div id="about-popup">
      <h2>About Auto Savior</h2>
      <br><br>
      <p>Auto Savior protects passwords by encrypting using Crypto-js and storing them online in Firebase database.</p>
      <button (click)="closeAboutPopup();">Cancel</button>
    </div>

  </div>

  <div id="row" class="row margin-row-0">
    <!-- side bar -->
    <aside id="side-bar">
      <div class="col-12 col-md-12">
        <nav class="navbar navbar-light">
          <ul class="navbar-nav">
            <li><a class="nav-link active" (click)="showAccountOperationList(currentAccount)">My Operations</a></li>
            <li><a class="nav-link" (click)="showAccountNewOperation(currentAccount)">New Operation</a></li>
            <li><a class="nav-link" (click)="showAccountNewOperationCategory(currentAccount)">New Operation Category</a></li>
            <li><a class="nav-link" (click)="showAccountGraphOperationList(currentAccount)">My Graphs</a></li>
          </ul>
        </nav>
      </div>

      <!-- footer -->
      <footer>
        <app-footer></app-footer>
      </footer>
    </aside>

    <!-- content -->
    <div id="content">

      <router-outlet></router-outlet>

    </div>
  </div>
</main>
